---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";

const pageTitle = "Tags";
const allPosts = await Astro.glob("../posts/*.md");
const uniqueTags = [...new Set(allPosts.flatMap((p) => p.frontmatter.tags))];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {uniqueTags.map((tag) => <Tag tag={tag} />)}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
