---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import { getUniqueTags } from "../../scripts/getUniqueTags.astro";

const pageTitle = "Tags";
const uniqueTags = await getUniqueTags();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {uniqueTags.map((tag) => <Tag tag={tag} />)}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
