---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="header">
    <Navigation />
    <ThemeIcon />
  </nav>
</header>

<style>
 .header {
  display: flex;
 }
</style>