---
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
import { config } from '../config.ts'
---

<header>
  <nav>
    <a href="/cookbook-astro/" class="title">{config.appTitle}</a>
    <div class="right-side">
      <Navigation />
      <ThemeIcon />
    </div>
  </nav>
</header>

<style>
  nav {
    align-items: center;
    padding-block: var(--size-7);
    display: flex;
    justify-content: space-between;
    font-size: large;
  }

  .right-side {
    align-items: center;
    display: flex;
    gap: var(--size-7);
  }

  .title {
    display: none;
  }

  @media (min-width: 768px) {
    nav {
      margin-inline: var(--size-10);
    }
    .title {
      display: inline;
      font-size: x-large;
    }
  }
</style>
