---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  imagePath: string
  altText: string
}

var imageAvailable = true
const { imagePath, altText } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/*.{jpeg,jpg,png}'
)
if (!images[imagePath]) {
  imageAvailable = false
}
---

<div class="container">
  {
    imageAvailable ? (
      <Image class="img" src={images[imagePath]()} alt={altText} />
    ) : (
      <p>Noch kein Foto vorhanden</p>
    )
  }
</div>

<style>
  .img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .container {
    display: flex;
    justify-content: center;
    color: var(--text-3);
  }

  @media (min-width: 768px) {
    .img {
      height: 75%;
      width: 75%;
    }
    .container {
      justify-content: start;
    }
  }
</style>

<!-- source: -->
<!-- https://docs.astro.build/en/recipes/dynamically-importing-images/ -->
