---
const { ingredient } = Astro.props;
---

<p class="ingredient">{ingredient}</p>

<style>
    .ingredient {
        margin: 0.25em;
        padding: 0.5em 1em;
        background-color: var(--tag);
    }
</style>