---
const currentPath = Astro.url.pathname
---

<ul class="links">
  <li>
    <a
      class={currentPath === '/cookbook-astro' ||
      currentPath === '/cookbook-astro/'
        ? 'active'
        : ''}
      href="/cookbook-astro/">Rezepte</a
    >
  </li>
  <li>
    <a
      class={currentPath === '/cookbook-astro/tags/' ? 'active' : ''}
      href="/cookbook-astro/tags/">Tags</a
    >
  </li>
</ul>

<style>
  .active {
    color: var(--red-7);
  }

  .links {
    margin-block: var(--size-7);
    display: flex;
    gap: var(--size-7);
  }

  @media (min-width: 768px) {
    .links {
      margin-block: 0;
    }
  }
</style>
