---
const {sectionTitle} = Astro.props
---

<div class="section">{sectionTitle}</div>

<style>
    .section {
        color: rgb(221, 183, 165);
        font-size: x-large;
        font-weight: bold;
    }
</style>