---
const { tag } = Astro.props;
---

<p class="tag">
  <a href={`/cookbook-astro/tags/${tag}`}>#{tag}</a>
</p>

<style>
  .tag {
    margin: 0.25em;
    border: solid 1px #a1a1a1;
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: var(--tag);
  }
</style>
