---
const { tag } = Astro.props
---

<a class="tag" href={`/cookbook-astro/tags/${tag}`}>#{tag}</a>

<style>
  .tag {
    margin: 0.25em;
    border: solid 1px #a1a1a1;
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: var(--tag);
  }
</style>
